<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dashboard</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="bootstrap-4.0.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous" defer="defer"></script>
    <script src="index.js" defer></script>

    <% if(user.role === 'admin') { %>
        <style>
            .container-jumb {
                height: 400px;
                width: 400px;
            }
        </style>
        <% } %>
            <% if(user.role === 'superAdmin') { %>
                <style>
                    .container-jumb {
                        height: 650px;
                        width: 450px;
                    }
                </style>
                <% } %>
</head>

<body>
    <!-- <div class="col-md-4 col-sm-4 col-xs-12"> -->
    <div class="container">
        <div class="jumbotron container-jumb">
            <h4>User Profile</h4>
            <p><b>Name:</b> <span><%= user.firstName + " " + user.lastName %></span></p>
            <p><b>Email:</b> <span><%= user.email %></span></p>
            <p><b>State:</b> <span><%= user.state %></span></p>
            <p><b>Role:</b> <span><%= user.role %></span></p>
            <% if (user.communityId !== null) {%>
                <p><b>CommunityID:</b> <span><%= user.communityId %></span></p>
                <% } %>
                    <% if(user.communityId === null)  { %>
                        <form action="/joinCommunity" method="POST">
                            <div class="form-group">
                                <label for="communityId">Community ID</label>
                                <input type="text" class="form-control" name="communityId" id="communityId" placeholder="What is your community identifier?">
                                <button type="submit" class="btn btn-success btn-block">Join your community</button>
                            </div>
                        </form>
                        <% } %>
                            <% if(user.role === "superAdmin")  { %>
                                <form action="/createAdmin" method="POST">
                                    <div class="form-group">
                                        <label for="potentialAdmin">Give Admin rights</label>
                                        <input type="email" class="form-control" name="potentialAdmin" placeholder="user email">
                                        <button type="submit" class="btn btn-block btn-success">Create admin</button>
                                    </div>
                                </form>
                                <form action="/removeAdminBadge" method="POST">
                                    <label for="potentialUser">Remove Admin Badge</label>
                                    <input type="email" class="form-control" name="potentialUser" placeholder="Admin email">
                                    <button type="submit" class="btn btn-block btn-danger">Remove admin badge</button>
                                </form>
                                <% } %>
                                    <% if(user.role === 'admin') { %>
                                        <div class="admin">
                                            <a href="/adminPost"><button class="button" type="submit">Submit</button></a>
                                        </div>
                                        <% } %>
        </div>
    </div>
    <div class="dashboard-container">
        <div class="dashboard-nav">
            <ul>
                <li class="dashboard-nav-header">
                    <span>
                        <img class ="dashboard-profile-img" src="profileImage.png" alt="profile image">
                    </span>
                </li>
                <div class="dashboard-item-container">
                    <li class="dashboard-item">
                        <a class="nav-bar-item" href="/profile">
                            <span class="nav-bar-item">Profile</span>
                        </a>
                    </li>
                    <li class="dashboard-item">
                        <a class="nav-bar-item" href="/update">
                            <span class="nav-bar-item">Update</span>
                        </a>
                    </li>
                    <li class="dashboard-item">
                        <a class="nav-bar-item" href="/payment">
                            <span class="nav-bar-item">Make Payment</span>
                        </a>
                    </li>
                    <li class="dashboard-item">
                        <a class="nav-bar-item" href="/general">
                            <span class="nav-bar-item">General Page</span>
                        </a>
                    </li>
                </div>
            </ul>
        </div>
    </div>
    <!-- </div> -->
</body>